@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
body
{
    background: rgb(186,3,62);
    background: linear-gradient(90deg, rgba(186,3,62,1) 30%, rgba(0,212,255,1) 93%);
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  margin-left: 13.5%;
  font-weight: 400;
  height: 100vh;
  color: #333;
}
.glow {
    font-size: 30px;
    margin-right: 70px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
   
      }
    
    main {
        position: relative;
        width: 100rem;
        height: 60rem;
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(200px);
        filter: blur();
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        overflow: hidden;
        display: flex;
      }
      html {
        font-size: 62.5%;
        box-sizing: border-box;
      }
      

      .player {
        flex: 50%;
        padding: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.75s;
      }
      
    
      .name {
        position: relative;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: 300;
        margin-bottom: 1rem;
      }
      .score {
        font-size: 8rem;
        font-weight: 300;
        color: #c7365f;
        margin-bottom: auto;
      }
      
      
      
      .player--active {
        background-color: rgba(255, 255, 255, 0.4);
      }
      .player--active .name {
        font-weight: 700;
      }
      .player--active .score {
        font-weight: 400;
      }
      
      .player--active .current {
        opacity: 1;
      }
      
      .current {
        background-color: #c7365f;
        opacity: 0.8;
        border-radius: 9px;
        color: #fff;
        width: 65%;
        padding: 2rem;
        text-align: center;
        transition: all 0.75s;
      }
      
      .current-label {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: #ddd;
      }
      
      .current-score {
        font-size: 3.5rem;
      }
      
    
      
      
      .dice {
        position: absolute;
        left: 50%;
        top: 16.5rem;
        transform: translateX(-50%);
        height: 10rem;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
      }
      
      .player--winner {
        background-color: #2f2f2f;
      }
      .frame {
        width: 90%;
        margin: 40px auto;
        text-align: center;
      }
      button {
        margin: 20px;
      }
      .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
      }
      
      .player--winner .name {
        font-weight: 700;
        color: #c7365f;
      }
      .hidden
      {
        display: none;
      }
      .btn-3 {
        background: rgb(0,172,238);
      background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        
      }
      .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-3:before,
      .btn-3:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
         background: rgba(2,126,251,1);
        transition: all 0.3s ease;
      }
      .btn-3:before {
        height: 0%;
        width: 2px;
      }
      .btn-3:after {
        width: 0%;
        height: 2px;
      }
      .btn-3:hover{
         background: transparent;
        box-shadow: none;
      }
      .btn-3:hover:before {
        height: 100%;
      }
      .btn-3:hover:after {
        width: 100%;
      }
      .btn-3 span:hover{
         color: rgba(2,126,251,1);
      }
      .btn-3 span:before,
      .btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
         background: rgba(2,126,251,1);
        transition: all 0.3s ease;
      }
      .btn-3 span:before {
        width: 2px;
        height: 0%;
      }
      .btn-3 span:after {
        width: 0%;
        height: 2px;
      }
      .btn-3 span:hover:before {
        height: 100%;
      }
      .btn-3 span:hover:after {
        width: 100%;
      }
      .score
      {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      @media (max-width:600px) {
        body
        {
          background-image: linear-gradient(to right bottom, #eb0d3e, #eb0060, #d9008b, #ab00bc, #2412eb);
        }
        .glow
        {font-size: 10px;
         margin-left: 50px;
          
        }
        .name {
          font-size: 20px;
          margin-top: 0px;
          margin-bottom: 90%;
          
        }
            main {
        width:30rem;
        height: 22rem;
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(200px);
        filter: blur();
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        overflow: hidden;
       margin-left: 0px;
      }
      html {
        font-size: 62.5%;
        box-sizing: border-box;
      }
.image
        {
          width: 50%;
          margin-top: 5rem;
        }
        .comp
        {
          width:50%;
          margin-top: 5rem;
        }
          .btn-3 {
        background: rgb(0,172,238);
      background: linear-gradient(90deg, rgba(186,3,62,1) 30%, rgba(0,212,255,1) 93%);
        width: 70px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
            margin-left: 0px;
        
      }
      .btn-3 span {
        position: relative
        display: block;
        width: 100%;
        height: 100%;
      }
      .btn-3:before,
      .btn-3:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
         background: rgba(2,126,251,1);
        transition: all 0.3s ease;
      }
      .btn-3:before {
        height: 0%;
        width: 2px;
      }
      .btn-3:after {
        width: 0%;
        height: 2px;
      }
      .btn-3:hover{
         background: transparent;
        box-shadow: none;
      }
      .btn-3:hover:before {
        height: 100%;
      }
      .btn-3:hover:after {
        width: 100%;
      }
      .btn-3 span:hover{
         color: rgba(2,126,251,1);
      }
      .btn-3 span:before,
      .btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
         background: rgba(2,126,251,1);
        transition: all 1.3s ease;
      }
      .btn-3 span:before {
        width: 2px;
        height: 0%;
      }
      .btn-3 span:after {
        width: 0%;
        height: 2px;
      }
      .btn-3 span:hover:before {
        height: 100%;
      }
      .btn-3 span:hover:after {
        width: 100%;
      }
        .player {
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.75s;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
      }
      
    
      .name {
        position: relative;
      
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: 300;
        margin-bottom: 1rem;
      }
      .score {
        font-size: 8rem;
        font-weight: 300;
        color: #c7365f;
        margin-bottom: auto;
      }
        .current-label
        {
          font-size: 1rem;
        }
        .current-score
        {
          margin-top: 0px;
          margin-bottom: 0px;
          font-size: 2rem;
        }
      }
